.card-slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(50, 48, 48);
  backdrop-filter: blur(5px);
  
}

.card-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  width: 100%; /* Ensure the wrapper takes the full width */
}

.card {
  flex: 0 0 100%; /* Each card takes 100% width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-intro {
  color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 1.1rem;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
